/* reset padding and margins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
/* variable declaration */
:root {
  --white-bg: #ffffff;
  --icon-bg: #d9d9d9;
  --sidebar-font: #0d163a;
  --content-bg: #f7f7fb;
  --search-font: #667085;
  --notification-icon: #dedede;
}

body {
  display: flex;
  font-family: "Plus Jakarta Sans", sans-serif;
}
/* css code for sidebar and its items */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--white-bg);
  padding: 2rem;
  width: 20%;
}
.icon {
  width: 90%;
  height: 2.75rem;
  background-color: var(--icon-bg);
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.sidebar-nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
ul {
  list-style: none;
}
.sidebar-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0.5rem;
  text-decoration: none;
  color: var(--sidebar-font);
}
.sidebar-item img {
  width: 1.5rem;
}
.sidebar-items li {
  margin: 0.25rem 0;
}
.sidebar-item:hover,
.sidebar-item.active {
  font-weight: 600;
}
hr {
  opacity: 30%;
  margin: 1.5rem 0;
}
/* pushes last section to bottom */
#sidebar-bottom {
  margin-top: auto;
}

/* css code for main-content */
main {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: var(--content-bg);
  padding: 2rem;
}

/* header-navbar css codes */
.navbar {
  display: flex;
  gap: 2rem;
}
.search-box {
  display: flex;
  align-items: center;
  width: 70%;
  background-color: var(--white-bg);
  border-radius: 6rem;
  padding: 1rem;
}

.search-icon {
  margin-right: 1rem;
}

.search-box input {
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: var(--search-font);
}
.search-box input::placeholder {
  color: var(--search-font);
}
/* notification, chat and profile css codes */
.notification-chat {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--white-bg);
  width: 30%;
  border-radius: 6rem;
}
.notification-icon,
.chat-icon {
  border: 1px solid var(--notification-icon);
  padding: 0.4rem 1rem;
  border-radius: 6rem;
}
.notification-icon:hover,
.chat-icon:hover {
  background-color: var(--icon-bg);
  cursor: pointer;
  transition: 0.3s;
}

.gallery-icon {
  background-color: var(--icon-bg);
  padding: 0.4rem;
  border-radius: 50%;
  border: 1px solid var(--icon-bg);
}
.gallery-icon:hover {
  background-color: var(--white-bg);
  cursor: pointer;
  transition: 0.3s;
}
.user-menu {
  color: var(--sidebar-font);
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.user-menu:hover {
  cursor: pointer;
  color: #0d163a9f;
  transition: 0.5s;
}

/* Mobile and small tablets screen */
@media (max-width: 768px) {
  .sidebar {
    padding: 1rem;
  }
  .icon {
    margin-bottom: 1rem;
  }
  .sidebar-item {
    padding: 0.5rem 0.25rem;
  }
  hr {
    margin: 0.5rem 0;
  }
}
/* Bigger tablets screen */
@media (min-width: 768px) and (max-width: 1024px) {
  .sidebar {
    padding: 2rem 0.5rem;
  }
  .sidebar-item {
    padding: 0.75rem 0.5rem;
  }
  hr {
    margin: 1rem 0;
  }
  main {
    padding: 2rem 1rem;
  }
  .navbar {
    gap: 1rem;
  }
  .search-box,
  .notification-chat {
    width: 50%;
  }
}
/* Laptops screen */
@media (min-width: 1024px) and (max-width: 1340px) {
  hr {
    margin: 1rem 0;
  }
  .sidebar-item {
    padding: 0.75rem 0.5rem;
  }
  .search-box {
    width: 60%;
  }
  .notification-chat {
    width: 40%;
  }
}
