/* reset padding and margins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* variables for colors */
:root {
  --white-bg: #ffffff;
  --icon-bg: #d9d9d9;
  --sidebar-font: #0d163a;
}

body {
  display: flex;
  font-family: "Plus Jakarta Sans", sans-serif;
}
/* css code for sidebar and its items */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--white-bg);
  padding: 2rem;
}
.icon {
  padding: 0.75rem 4.25rem;
  background-color: var(--icon-bg);
  margin-bottom: 2rem;
}
.sidebar-nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
ul {
  list-style: none;
}
.sidebar-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0.5rem;
  text-decoration: none;
  color: var(--sidebar-font);
}
.sidebar-item img {
  width: 1.5rem;
}
.sidebar-items li {
  margin: 0.25rem 0;
}
.sidebar-item:hover,
.sidebar-item.active {
  font-weight: 600;
}
hr {
  opacity: 30%;
  margin: 1.5rem 0;
}
/* pushes last section to bottom */
#sidebar-bottom {
  margin-top: auto;
}

@media (max-width: 768px) {
  .sidebar {
    padding: 1rem;
  }
  .icon {
    margin-bottom: 1rem;
  }
  .sidebar-item {
    padding: 0.5rem 0.25rem;
  }
  hr {
    margin: 0.5rem 0;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .sidebar-item {
    padding: 0.75rem 0.5rem;
  }
  hr {
    margin: 1rem 0;
  }
}
