/* reset padding and margins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
/* variable declaration */
:root {
  --white-bg: #ffffff;
  --icon-bg: #d9d9d9;
  --sidebar-font: #0d163a;
  --content-bg: #f7f7fb;
  --search-font: #667085;
  --notification-icon: #dedede;
  --see-all-font: #4745a4;
  --yellow-progress: #f9ba33;
  --green-progress: #3bbb6e;
}

body {
  display: flex;
  font-family: "Plus Jakarta Sans", sans-serif;
}
/* css code for sidebar and its items */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--white-bg);
  padding: 2rem;
  width: 20%;
}
.icon {
  width: 90%;
  height: 2.75rem;
  background-color: var(--icon-bg);
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.sidebar-nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
ul {
  list-style: none;
}
.sidebar-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0.5rem;
  text-decoration: none;
  color: var(--sidebar-font);
}
.sidebar-item img {
  width: 1.5rem;
}
.sidebar-items li {
  margin: 0.25rem 0;
}
.sidebar-item:hover,
.sidebar-item.active {
  font-weight: 600;
}
hr {
  opacity: 30%;
  margin: 1.5rem 0;
}
/* pushes last section to bottom */
#sidebar-bottom {
  margin-top: auto;
}

/* css code for main-content */
main {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: var(--content-bg);
  padding: 2rem;
}

/* header-navbar css codes */
.header {
  display: flex;
  gap: 2rem;
}
.search-box {
  display: flex;
  align-items: center;
  width: 70%;
  background-color: var(--white-bg);
  border-radius: 6rem;
  padding: 1rem;
}
.search-icon {
  margin-right: 1rem;
}
.search-box input {
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: var(--search-font);
}
.search-box input::placeholder {
  color: var(--search-font);
}
/* notification, chat and profile css codes */
.notification-chat {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--white-bg);
  width: 30%;
  border-radius: 6rem;
}
.notification-icon,
.chat-icon {
  border: 1px solid var(--notification-icon);
  padding: 0.4rem 1rem;
  border-radius: 6rem;
}
.notification-icon:hover,
.chat-icon:hover {
  background-color: var(--icon-bg);
  cursor: pointer;
  transition: 0.3s;
}
.gallery-icon {
  background-color: var(--icon-bg);
  padding: 0.4rem;
  border-radius: 50%;
  border: 1px solid var(--icon-bg);
}
.gallery-icon:hover {
  background-color: var(--white-bg);
  cursor: pointer;
  transition: 0.3s;
}
.user-menu {
  color: var(--sidebar-font);
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.user-menu:hover {
  cursor: pointer;
  color: #0d163a9f;
  transition: 0.5s;
}
/* Overview and Saving Plan css */
.overview-saving {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
  width: 100%;
}
.overview-card,
.saving-card {
  background-color: var(--white-bg);
  border-radius: 1rem;
  padding: 1rem;
  color: var(--sidebar-font);
}
.overview-card {
  width: 70%;
}
.overview-card:hover {
  transform: scale(1.01);
  transition: 0.3s;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.individual-finance-card-active {
  background-color: var(--see-all-font);
}
.individual-finance-card-active h4,
.individual-finance-card-active span,
.individual-finance-card-active .finance-card-amount,
.individual-finance-card-active .finance-card-amount img {
  color: var(--white-bg) !important;
}

#balance:hover,
#saving:hover,
#expenses:hover,
#incomes:hover {
  transition: 1s;
  border: 1px solid #4c4c4c;
  cursor: pointer;
}
.finance-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(2, 1fr); /* 2 rows */
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
}
.individual-finance-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  border: 1px solid var(--notification-icon);
}
.individual-finance-card hr {
  margin: 1rem 0;
}
.finance-card-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.finance-card-header > img {
  border: 1px solid var(--notification-icon);
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
}
.finance-card-title-desc h4 {
  font-weight: 600;
  color: var(--sidebar-font);
  margin-bottom: 0.5rem;
}
.finance-card-title-desc > span {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.faded-text {
  opacity: 0.6;
  font-size: 0.75rem;
  font-weight: 400;
}
.finance-card-amount {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--sidebar-font);
  letter-spacing: -2px;
  display: flex;
  justify-content: space-between;
  margin-top: 0.25rem;
}
.saving-card {
  width: 30%;
}
.saving-card:hover {
  transform: scale(1.01);
  transition: 0.3s;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.saving-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#see-all-btn {
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  color: var(--see-all-font);
  cursor: pointer;
}
progress {
  width: 100%;
  height: 8px;
  color: yellow;
  background-color: yellow;
  border: yellow;
}
/* webkit browsers- chrome, safari, edge */
progress::-webkit-progress-bar {
  background-color: var(--notification-icon); /* unfilled background color */
  border-radius: 5px;
}
h4 {
  font-weight: 500;
  color: var(--sidebar-font);
}
h5 {
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--sidebar-font);
}
.individual-plans-card {
  margin-top: 1.5rem;
}
.individual-plans-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}
.individual-plans-card-amounts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.amount {
  font-size: 1.25rem;
  color: var(--sidebar-font);
  font-weight: 600;
}
.total {
  font-weight: 600;
  font-size: 0.75rem;
  color: var(--sidebar-font);
  letter-spacing: -1px;
  opacity: 50%;
  margin-left: 0.1rem;
}
#bali-progress::-webkit-progress-value {
  background-color: var(--see-all-font); /* filled progress color */
  border-radius: 5px;
}
#gadget-progress::-webkit-progress-value {
  background-color: var(--yellow-progress);
  border-radius: 5px;
}
#charity-progress::-webkit-progress-value {
  background-color: var(--green-progress);
  border-radius: 5px;
}
/* Mobile and small tablets screen */
@media (max-width: 768px) {
  .sidebar {
    padding: 1rem;
  }
  .icon {
    margin-bottom: 1rem;
  }
  .sidebar-item {
    padding: 0.5rem 0.25rem;
  }
  hr {
    margin: 0.5rem 0;
  }
}
/* Bigger tablets screen */
@media (min-width: 768px) and (max-width: 1024px) {
  .sidebar {
    padding: 2rem 0.5rem;
  }
  .sidebar-item {
    padding: 0.75rem 0.5rem;
  }
  hr {
    margin: 1rem 0;
  }
  main {
    padding: 2rem 1rem;
  }
  .header {
    gap: 1rem;
  }
  .search-box,
  .notification-chat {
    width: 50%;
  }
}
/* Laptops screen */
@media (min-width: 1024px) and (max-width: 1340px) {
  hr {
    margin: 1rem 0;
  }
  .sidebar-item {
    padding: 0.75rem 0.5rem;
  }
  .search-box {
    width: 60%;
  }
  .notification-chat {
    width: 40%;
  }
}
